<DIV>
	<DIV data-dojo-type="dijit/TitlePane" data-dojo-attach-point="tilePane" data-dojo-props="toggleable:false" title="Picker">
		<DIV data-dojo-type="dijit/layout/TabContainer" data-dojo-attach-point="tabs" data-dojo-props="doLayout:false">
			<DIV data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="data1Tab" title="Data 1">
				<DIV data-dojo-attach-point="gridNode1"></DIV>
			</DIV>
			<DIV data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="data2Tab" title="Data 2">
				<DIV data-dojo-attach-point="gridNode2"></DIV>
			</DIV>
		</DIV>
	</DIV>
</DIV>